<div class="dash-left">
    <ul>
        <li class="active"><a href="/admin/dashboard" class="active">Dashboard</a></li>
        <li><a href="/admin/blogdisplay">Blogs</a></li>
        <li><a href="/admin/categorydisplay">Categories</a></li>
        <li><a href="/admin/aboutdisplay">about</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>   
